body {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    margin: 0 auto;
    max-width: 600px;
    padding: 50px 30px;
}

h2 {
    font-size: 18px;
}

a, a:visited {
    color: #555;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}